
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

* {
    box-sizing: border-box;
    margin: 1vh;
    padding: 0;
    background-color: rgb(127, 202, 224);

}

#citeloc {
    position: absolute;
    
}

li, a {
    font-family: "baskerville" sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

header { 
    padding: 20px 10%;
    outline: 2px solid rgb(3, 37, 87)
}

.titlefloat {
    float: right;
}

#impos {
    position: relative;
    right: 10px;
}

.author {
    color: dodgerblue;
    margin: 10px;
}


.navlink {
    list-style: none;
    display: flex;
    justify-content: space-between;
    outline: 2px solid rgb(3, 37, 87)
}

.olmargin {
    margin: 5px 0px;

}

li#pop {
    color: red;
}

li#founding {
    color: white;
}

li #income {
    color: blue;
}

.sideconleft {
    display: inline-block;
    width: 20vh;
    height: 40vh;
    font-size: large;
    padding: 1vh;
    align-items: left;
}

.sidecon {
    display: flex; 
    width: 20vh;
    height: 40vh;
    font-size: large;
    padding: 1vh;
    align-items: left;
}
.footcon {
    position: absolute;
    outline: black;
    size: 20vh;
}

Aside {
    display: flex;
    justify-content: flex-end;
}

a:hover {
    color: rgb(12, 144, 233)
    
}
.exlink {
    color:rgb(8, 78, 170)
}

#inValid {
    color: red
}

